body {
	width: 100%;
	background-color: #e0f1e8;
}
.main {
	display: flex;
	width: 50%;
	align-items: center;
	margin-left: 25%;
	flex-direction: column;
	padding-top: 2%;
	border-radius: 12px;
	border: solid white 1px;
	background-color: #ffffff;
	color: #2a4144;
}
.textt {
	display: flex;
	flex-direction: column;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
    justify-items: center;
}
h1 {
	width: 30%;
	padding-right: 50%;
	font-family: Karla;
	font-weight: 700;
	font-style: Bold;
	font-size: font-size/heading;
	line-height: 100%;
	letter-spacing: -1px;
}
input {
	width: 100%;
	padding: 10px;
}
section {
	display: flex;
	flex-direction: row;
	width: 80%;
	gap: 10%;
}
.choice {
	display: flex;
}
.one {
	width: 100%;
}
.two {
	width: 100%;
}
.onlone {
	display: flex;
	width: 90%;
flex-direction: column;
}
.mmessage {
	display: flex;
	padding: 50px 150px;
}
button {
	background-color: #0c7d69;
	width: 90%;
}
.k {
	display: flex;
	text-align: left;
	flex-direction: column;
	width: 25%;
	margin: auto;
	padding: 8px 16px;
	border-radius: 12px;
	border: solid 1px #2a4144;
	background-color: #2a4144;
	color: #ffffff;
	visibility: hidden;
}
